body {
  background: url("/static/images/bg.jpg") center;
  background-repeat: repeat;
  background-size: inherit;
  flex-direction: column;
}

.navbar-custom {
  background: rgba(0, 0, 0, 0.59);
  max-width: 100%;
  width: 100%;
}
.navbar-custom .navbar-brand {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}
.navbar-custom .nav-link {
  color: rgb(7, 45, 86);
  background-color: #ffffff;
  border-radius: 18px;
  width: 120px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1rem !important;
  text-align: center;
 
}
.navbar-custom .nav-link:hover {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 25px;
  transition: 0.5s;
}
.back-btn{
  opacity: 30% !important;
}
.back-btn:hover{
  opacity: 100% !important;
}

@media screen and (max-width: 1000px) {
  .navbar-custom .nav-link{
    width: 100%;
    
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  body {
    background-size: cover;
  }
}

footer {
  max-width: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}
footer .nav-item .nav-link {
  color:#ffffff;
  background-color: #029202;
  border-radius: 18px;
  text-decoration: none;
  
  width: 100%;
  font-size: 1rem;
}
footer .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #077807;
  text-decoration: none;
}

