{% extends "master.html" %}

{% block title %}
 FAQ - Super Shop Management System
{% endblock %}
    
{% block content %}

<div class="container mt-4 p-4 bg-light shadow rounded">
    <div class="d-grid justify-content-center">
        <h1 class="text-primary">Features</h1>
    </div>
    
    <div class="overflow-auto"></div>
        <h3 class="text-primary">Inventory</h3>
        <p class="h5 text-secondary text-break"> 
            You can manage your Inventory easily on <a class="text-decoration-none" href="{% url "products" %}">Products Page</a>. Here you can View products,Add & Remove Products and also Update products details like barcode, name, stock and price. 
        </p><br>
        <h3 class="text-primary">Billing</h3>
        <p class="h5 text-secondary text-break">
           The <a href="{% url "billing" %}" class="text-decoration-none">Billing</a> section is designed to make entry of products bought by customers and automatically get the total 
        </p><br>
        <h3 class="text-primary">Sales Record</h3>
        <p class="h5 text-secondary text-break">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Quisque morbi ridiculus ut faucibus bibendum curae. Imperdiet tellus aliquet phasellus himenaeos semper suscipit in praesent. Vivamus faucibus risus ornare pretium erat lacinia placerat eleifend. Dis vivamus nulla convallis eros; ligula urna. Vivamus metus molestie sociosqu proin suspendisse leo nisl porttitor. Cubilia eget mattis natoque pretium gravida hac tortor? Fermentum orci eu netus ut ultrices hendrerit aenean condimentum. Hac leo turpis bibendum sodales libero ante porttitor.

    Mus conubia montes vitae ad fames netus. Orci erat viverra convallis mi sodales. Vitae dictum dictum class turpis duis. Adipiscing integer nisi ante pretium aliquam in netus. Nec facilisi vel sagittis felis sociosqu natoque tristique curabitur litora. Id suspendisse suspendisse maecenas fusce, fames bibendum rutrum sollicitudin. Ullamcorper etiam vitae eu nostra elit finibus. Feugiat inceptos maecenas malesuada dui tempus sollicitudin. Adipiscing per eu malesuada maecenas ante suspendisse maximus fringilla.
        </p><br>
        <h3 class="text-primary">Customers</h3>
        <p class="h5 text-secondary text-break">
            Lorem ipsum odor amet, consectetuer adipiscing elit. Quisque morbi ridiculus ut faucibus bibendum curae. Imperdiet tellus aliquet phasellus himenaeos semper suscipit in praesent. Vivamus faucibus risus ornare pretium erat lacinia placerat eleifend. Dis vivamus nulla convallis eros; ligula urna. Vivamus metus molestie sociosqu proin suspendisse leo nisl porttitor. Cubilia eget mattis natoque pretium gravida hac tortor? Fermentum orci eu netus ut ultrices hendrerit aenean condimentum. Hac leo turpis bibendum sodales libero ante porttitor.

    Mus conubia montes vitae ad fames netus. Orci erat viverra convallis mi sodales. Vitae dictum dictum class turpis duis. Adipiscing integer nisi ante pretium aliquam in netus. Nec facilisi vel sagittis felis sociosqu natoque tristique curabitur litora. Id suspendisse suspendisse maecenas fusce, fames bibendum rutrum sollicitudin. Ullamcorper etiam vitae eu nostra elit finibus. Feugiat inceptos maecenas malesuada dui tempus sollicitudin. Adipiscing per eu malesuada maecenas ante suspendisse maximus fringilla.
        </p>
    

{% endblock %}