{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Super Shop Management System{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
    <style>
      
      {% block style %}{% endblock style %}
    </style>
    
    {% block script %} {% endblock script %}
    
  </head>
  <body id="body">
    <!-- Navbar -->
    {% include "navbar.html" %}    
    {% include "top-btn.html" %}
    <!-- Main Content -->
    <main id="" class="container mt-4">{% block content %} {% endblock %}</main>
    <br><br><br><br>
    <!-- Footer -->
    {% include "footer.html" %}
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // Get user's timezone
        fetch("{% url 'set_timezone' %}", {  // Send timezone to Django
            method: "POST",
            headers: { "X-CSRFToken": getCookie("csrftoken") },
            body: JSON.stringify({ timezone: timezone })
        });
    });

    function getCookie(name) {  // Get CSRF token
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            document.cookie.split(";").forEach(cookie => {
                let trimmed = cookie.trim();
                if (trimmed.startsWith(name + "=")) {
                    cookieValue = decodeURIComponent(trimmed.substring(name.length + 1));
                }
            });
        }
        return cookieValue;
    }
    </script>
    <script>
      const div = document.getElementById("body-");
      div.addEventListener("contextmenu", (e) => {e.preventDefault()});
    </script>
  </body>
</html>
