{% extends "master.html" %}

{% block title %}Edit Product Details - Super Shop Management System{% endblock %}

{% block content %}
    {% if products %}
        <div class="container d-flex justify-content-center text-center ">
            <div class="form mt-4 p-4 bg-body w-75 shadow-lg rounded">
                <h3 class="mb-4 text-primary ">Update Product <br> <b>"{{ products.productName }}"</b></h3>
                
                <form method="post" onsubmit="return confirm('Confirm Updated Details?');">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input class="form-control" type="text" id="name" placeholder="Product Name" name="updated_name" value="{{ products.productName }}" title="Product Name"/>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" id="barcode" placeholder="Barcode" name="updated_barcode" value="{{ products.barcode }}" title="Product Barcode"/>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" id="price" placeholder="Price" name="updated_price" value="{{ products.price }}" title="Price"/>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="text" id="stock" placeholder="Stock" name="updated_stock" value="{{ products.stock }}" title="Stock"/>
                    </div>
                    <div class="mb-3 text-center">
                        <button class="btn btn-primary" type="submit" title="Update Product">Update</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
