{% extends "master.html" %}

{% block title %}Sales Records{% endblock %}

{% block style %}

  
{% endblock style %}

{% block script %}
<script>
    function printRecord() {
        let data = document.getElementById("sales-record-section").innerHTML;
       
        let printWindow = window.open('', '', 'height=1000, width=1000');
        
        printWindow.document.open();
        printWindow.document.write(`
            <html>
            <head>
                <title>Records-{{ date_today }}</title>
                <style>
                    table { width: 100%; border-collapse: collapse; }
                    th{ background-color: gainsboro; color: black;}
                    td, th { border: 1px solid black; padding: 10px; text-align: center; }
                    h1, h3, h6 { margin: 10px 0; }
                    #setting-th, #setting-td, .sort-arrow {
                            display: none;
                        }  
                    @media print {
                        #setting-th, #setting-td {
                            display: none;
                        }  
                    }
                </style>
            </head>
            <body>
                <h1>Super Shop Management System</h1>
                <h3>Sales Records | Printed On: {{ date_today }}</h3>                
                ${data}
            </body>
            </html>
        `);
        printWindow.document.close();

        // Wait for content to load before printing
        printWindow.onload = function () {
            printWindow.print();
            printWindow.onafterprint = function () {
                printWindow.close();
            };
        };
    }
</script>     
{% endblock script %}


{% block content %}
{% include "messages.html" %}
{% include "invoice_modal.html" %}
<div class="container mt-4 p-4 bg-light shadow rounded">
    <h1 class="text-center text-primary fw-bold">Sales Records</h1>
    <div class="container my-3">
        <div class="row justify-content-center text-center">
            <!-- Total Sales -->
            <div class="col-md-5 mb-3 text-">
                <div class="card bg-danger text-light rounded-pill shadow">
                    <div class="card-body ">
                        <h4 class="card-title">Total Sales</h4>
                        <p class="h5"><b>Count:</b> {{ total_sales_count }}</p>
                        <p><b>Value: {{ total_sales_value }} TK</b></p>
                    </div>
                </div>
            </div>
    
            <!-- Today's Sales -->
            <div class="col-md-5 mb-3">
                <div class="card bg-primary text-light rounded-pill shadow">
                    <div class="card-body">
                        <h4 class="card-title">Today's Sales</h5>
                        <p class="h5"><b>Count:</b> {{ todays_sales_count }}</p>
                        <p><b>Value: {{ todays_total_sales_value }} TK</b></p>
                    </div>
                </div>
            </div>
        </div>
    
        
 
    
    <!-- Search Section -->
    <div class="d-flex flex-column justify-content-center mt-4">
        
        <div class="text-start">
            <div class="btn-group gap-2 mb-2">
                <button class="btn btn-primary d-flex align-items-center  px-3" 
                        type="button" data-bs-toggle="collapse" 
                        data-bs-target="#searchSection" 
                        aria-expanded="false" aria-controls="searchSection">
                    <span class="material-symbols-outlined">search</span>
                </button>
                <button class="printRecordBtn btn btn-primary px-3" onclick=printRecord() title="Print Page Record">
                    <span class="material-symbols-outlined">print</span>
                </button>

                <a href="{% url 'sales' %}" id="reset_query_link" class="btn btn-primary px-3" style="display: none;" title="undo">
                    <span class="material-symbols-outlined">undo</span>
                </a> 
            </div>
        </div>
    
        <div class="collapse mb-5" id="searchSection">
            <div class="card card-body col-sm-6 mx-auto w-100">
                <div class="d-flex flex-column justify-content-center">
                    <p class="h4 text-primary text-center">Search Records By:</p>
                       
                    <form method="GET" class="text-primary">
                        <div class="mb-2">
                            <label for="query_invoice">Invoice #</label>
                            <input class="form-control search-input w-100" type="number" min="1" name="query_invoice" id="query_invoice" placeholder="Invoice #" title="Invoice No.">
                        </div>

                        <div class="mb-2">
                            <label for="query_date">Sales Date</label>
                            <input class="form-control search-input w-100" type="date" name="query_date" id="query_date" title="Sales Date">
                        </div>   
                            
                        <div class="mb-2">
                            <label for="query_customer_phone">Customer Phone No.</label>
                            <div class="input-group">
                                <span class="input-group-text">+880</span>
                                <input type="tel" class="form-control search-input" maxlength="11" minlength="10" id="query_customer_phone" name="query_customer_phone" placeholder="Customer Phone (e.g. 017xxxxxxxx)" title="Customer Phone (e.g. 017xxxxxxxx)">
                            </div>
                        </div>
    
                        <button type="submit" class="btn btn-primary w-100 rounded-3">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="overflow-x-auto" id="customer-section">
        <table class="table table-light table-group-divider table-bordered table-hover table-responsive text-center">
            <thead class="table-secondary h5">            
                <tr class="align-middle">
                    <th>
                        <div class="d-flex justify-content-center align-items-center gap-1">
                            <span>Invoice</span>
                            
                            <div class="sort-arrow" title="Sort">
                                <a href="?sort_by=salesId&order=asc" class="btn btn-sm p-0 m-0 {% if request.GET.sort_by == 'salesId' and  request.GET.order == 'asc' %} btn-danger {% else %}btn-outline-danger{% endif %}">
                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_up
                                    </span>
                                </a>
                                <a href="?sort_by=salesId&order=desc" class="btn btn-sm p-0 m-0 {% if request.GET.sort_by == 'salesId' and request.GET.order == 'desc' %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_down
                                    </span>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Customer Phone</th>
                    <th>Products</th>
                    <th>VAT(%)</th>
                    <th>Discount(%) </th>
                    <th>
                        <div class="d-flex justify-content-center align-items-center gap-1">
                            <span>Net Total</span>
                            <div class="sort-arrow" title="Sort">
                                <a href="?sort_by=netTotal&order=asc" class="btn btn-sm p-0 m-0 {% if request.GET.sort_by == 'netTotal' and request.GET.order == 'asc' %}btn-danger{% else %}btn-outline-danger{% endif %}">
                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_up
                                    </span>
                                </a>
                                <a href="?sort_by=netTotal&order=desc" class="btn btn-sm p-0 m-0 {% if request.GET.sort_by == 'netTotal' and request.GET.order == 'desc' %}btn-primary{% else %}btn-outline-primary{% endif %}">
                                    <span class="material-symbols-outlined">
                                        keyboard_arrow_down
                                    </span>
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Payment Method</th>
                    {% if user.is_superuser %}
                    <th>Counter</th>
                    {% endif %}                    
                    <th>Date & Time</th>
                    <th class="table-info position-sticky end-0 me-0" id="setting-th"><span class="material-icons">build</span></th>
                </tr>
            </thead>
            <tbody>
                {% for record in page_obj.object_list %}
                
                    <tr class="align-middle" id="salesTable">
                        <td class="text-center">{{ record.salesId }}</td>
                        <td class="text-center"> +880{{ record.customer.customerPhone }}</td>
                        <td class="fw-semibold">
                            {% for item in record.items.all  %}
                                {{ forloop.counter }}. {{ item.productName }}<br>
                                    <div class="d-flex justify-content-between fw-light gap-5">
                                        <p class="fst-italic">Price: {{ item.price }}</p>
                                        <p class="fst-italic">QTY: {{ item.quantity }}</p>
                                        <p>Subtotal: {{item.subtotal}}/-</p>
                                    </div>                                  
                                    {% if not forloop.last %}<hr>{% endif %}
                            {% endfor %}
                        </td>

                        <td class="text-center">(+) {{ record.vatAmmount }}/-<br>({{ record.vat }}%) </td>
                        <td class="text-center">(-) {{ record.discountAmmount }}/-<br>({{ record.discount }}%)</td>
                        <td class="text-center"><b>{{ record.netTotal }}/-</b></td>
                        <td class="text-center">{{ record.paymentMethod.upper }}</td>
                        {% if user.is_superuser %}
                        <td class="text-center">{{ record.user.username }}</td>
                        {% endif %}
                        <td class="text-center">{{ record.sale_date|date:" j F, Y g:i A" }}</td>
                        <td class="text-center position-sticky end-0" id="setting-td">
                            {% comment %} <a class="link-style-none link-success" href="{% url 'invoice' record.salesId%}" target="_blank" rel="noopener noreferrer" alt="Invoice" title="Invoice"><span class="material-icons">receipt</span></a> {% endcomment %}
                            <button type="button" class="btn link-success  btn-sm invoice-btn" id="invoiceBtn" data-bs-toggle="modal" data-bs-target="#invoiceModal" data-url="{% url "invoice" record.salesId %}" title="Invoice"><span class="material-icons">receipt</span></button>
                                                        
                        </td>                        
                    </tr>
                    
                        
                                
                {% empty %}
                    <tr>
                        <td colspan="9" class="text-center">No records found</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    <div>
        
        
        
    <!-- Pagination Navigation -->
    <nav class="overflow-auto" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        Previous
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
    
            {% for num in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        {{ num }}
                    </a>
                </li>
            {% endfor %}
    
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                        Next
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    
</div>
{% include "back-btn.html" %}
<script>
    if (window.location.search){
        document.getElementById("reset_query_link").style.display = "flex";
    }
    {% comment %} const dateInput = document.getElementById("query_date");
    dateInput.valueAsDate = "2025-02-22"; {% endcomment %}
    {% comment %} document.getElementById("query_date").value = "{{ today|date:"Y-m-d" }}"; {% endcomment %}
    {% comment %} document.addEventListener("DOMContentLoaded", function () {
        const inputs = document.querySelectorAll(".search-input");
        
        inputs.forEach(input => {
            input.addEventListener("input", function () {
                inputs.forEach(otherInput => {
                    if (otherInput !== input) {
                        otherInput.disabled = this.value !== "";
                    }
                });
            });
        });
    }); {% endcomment %}
    
</script>
{% endblock %}
