<a href="#" class="btn btn-primary fs-4 position-fixed bottom-0 end-0 top-btn" style="display: none; margin-bottom: 110px; z-index: 1000;" id="btn-back-to-top">
    <span class="material-symbols-outlined">arrow_upward</span>
</a>

<script>
    let mybutton = document.getElementById("btn-back-to-top");

  
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

   
    mybutton.addEventListener("click", function (e) {
        e.preventDefault();
        window.scrollTo({ top: 0, behavior: "smooth" });
    });
</script>
