<a href="#" class="btn btn-primary fs-4 position-fixed bottom-0 end-0 translate-middle-y top-btn" style="display: none;" id="btn-back-to-top">
    <span class="material-symbols-outlined">arrow_upward</span>
</a>
<script>
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
    scrollFunction();
    };

    function scrollFunction() {
    if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
    ) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }
</script>   